@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');


.rest-page{
    font-family: helvitica neue;
      text-align: center;
      display: block;
      font-weight: bold;
      height: 500px;
      width: auto;
      color: rgb(206, 62, 62);
      font-size: 20px;
      font-family: 'Michroma', sans-serif;
  }

  .restaurant-title {
    font-size: 45px;
    font-family: 'Michroma', sans-serif;
    color: antiquewhite;
    font-weight: bold;
  }

  .rest-image {
        height: 500px;
        width: auto;
  }

  .review-container {
    justify-content: center;
    display: flex;
    color: antiquewhite;
  }

  .review-title{
    color: antiquewhite;
  }

  .review-icons {
    color:rgb(197, 86, 86);
  }